.CFUserTextEncoding
.Trash/
.anyconnect
.bash_history
.bash_profile
.bashrc
.config/fish/fish_history
.env
.gem/
.netrc
.psql_history
.rvm/
.selenium/
.vegas/
.zlogin
.zshrc
Applications/
Desktop/
Documents/
Downloads/
Google Drive/
Library/
Mittmediaappar/
Movies/
Music/
Pictures/
Public/
bin/
code/
sservice.retry
.rediscli_history
.config/hub
.config/fish/fishd.28cfe950238b
.heroku/
.pow
.ssh/
.viminfo
.profile
.node-gyp/
.npm/
node_modules/
.cups/lpoptions
.android/
.atom/
.cache/
.codeintel/
.cordova/
.lolcommits/
.m2/
Dropbox/
adt-bundle/
*.avi
*.mp4
VirtualBox VMs/
.passenger/
.mix/
.gnupg/
.dropbox/
.config/.mono
.config/configstore
.subversion/
.Xauthority
.Nio
.boot2docker/boot2docker.iso
.dbshell
.gremlin_groovy_history
.guard_history
.hgignore_global
.keepassx/config.ini
.lesshst
.logstash
.mongorc.js
.mysql_history
.pry_history
.recently-used
.rnd
.neo4j_shell_history
.pgpass
.skylight